.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.icon {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 7px 8px;
    border: 2px solid;
    border-radius: 50%;
}

.header {
    padding-top: 50px;
    background-color: #eee;
    overflow: hidden;
}

.footer {
    color: #887;
    background-color: #eee;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content {
    position: relative;
    display: table;
    width: 100%;
    min-height: 100vh;
}

.pull-middle {
    display: table-cell;
    vertical-align: middle;
}

.btn-round {
    border-radius: 20px;
    color: #FFF;
}
#mytable {
    width: 100%;
    table-layout: fixed;

}
#mytable .btn-circle {
    display: table-cell;
    vertical-align: middle;
    horiz-align: center;
    text-align: center;
    width: 95px;
    color: #FFF;

    margin-top: -5px;
    margin-bottom: -15px;
    vertical-align: middle;
}

#mytable .btn-info,
#mytable .btn-success,
#mytable .btn-danger {
    border-radius: 5px;
    color: #FFF;
    top: 0;
}
#btn-circle a {
    color: #FFF;
}

.input-group input {
    border: 0;
    box-shadow: none;
    padding-right: 30px;
}

.input-group input:focus,
.input-group input:active {
    outline: 0;
    box-shadow: none;
}

.input-group-btn:last-child>.btn {
    z-index: 2;
    margin-left: -18px;
    border-radius: 20px;
}

.phone {
    position: relative;
    max-width: 263px;
    margin: 0 auto;
    padding: 65px 15px 55px;
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: #222;
    box-shadow: 20px 20px 40px #887;
}

body {
    font-size: small;
    margin-top: 50px;
}

.wrapper {
    display: inline-block;
}

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
tbody tr:nth-child(even)  td { background-color: #eee; }

@media screen and (max-width: 640px) {

    table {
        overflow-x: auto;
        display: block;

    }
    body {
        font-size: 11px;
    }

    .hidden-phone {
        display: block;
    }
}